<div class="card">
  <h2 id="liste-des-produits" class="text-center">Liste des produits</h2>

  <!-- Éléments de filtrage -->
  <div class="p-mb-3">
    <span class="p-input-icon-left p-mr-2">
      <i class="pi pi-search"></i>
      <input
        #globalFilter
        pInputText
        type="text"
        (input)="dv.filter($any($event.target).value)"
        placeholder="Rechercher..."
      />
    </span>
    <p-dropdown
      [options]="categories"
      (onChange)="onCategoryChange($event)"
      placeholder="Sélectionner une catégorie"
    >
    </p-dropdown>
  </div>

  <p-dataView
    #dv
    [value]="filteredProducts"
    [paginator]="true"
    [rows]="10"
    filterBy="name,category,price"
  >
    <ng-template pTemplate="list" let-products>
      <div class="p-grid">
        @for (product of products; track product.id) {
        <div class="p-col-12 p-md-4">
          <div class="product-item">
            <div class="product-item-content">
              <div class="font-medium text-secondary text-sm">
                {{ product.category }}
              </div>
              <div class="text-lg font-medium text-900 mt-2">
                {{ product.name }}
              </div>
              <div class="text-sm text-600">{{ product.description }}</div>
              <div class="flex flex-row align-items-center gap-2">
                <div class="flex align-items-center gap-2">
                  <p-tag
                    [value]="getStockStatusText(product)"
                    [severity]="getSeverity(product)"
                  ></p-tag>
                </div>
              </div>
              <div class="font-medium">{{ product.price }} €</div>
              <div class="flex gap-3 mt-1">
                <p-button
                  (click)="addToCart(product)"
                  label="Ajouter au panier"
                  icon="pi pi-shopping-cart"
                ></p-button>
                <p-button
                  (click)="onUpdate(product)"
                  label="Modifier"
                  icon="pi pi-pencil"
                ></p-button>
                <p-button
                  (click)="onDelete(product)"
                  label="Supprimer"
                  icon="pi pi-trash"
                  styleClass="p-button-danger"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '450px' }"
  [header]="isCreation ? 'Créer un produit' : 'Modifier un produit'"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <app-product-form
      [product]="editedProduct"
      (save)="onSave($event)"
      (cancel)="onCancel()"
    ></app-product-form>
  </ng-template>
</p-dialog>
