<div class="card">
  <h2 class="text-center text-4xl font-bold mb-4">Liste des produits</h2>

  <div class="flex justify-content-between align-items-center mb-4">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        #globalFilter
        pInputText
        type="text"
        (input)="dv.filter($any($event.target).value)"
        placeholder="Rechercher..."
        class="p-inputtext-sm"
      />
    </span>
    <p-dropdown
      [options]="categories"
      (onChange)="onCategoryChange($event)"
      placeholder="Sélectionner une catégorie"
      class="p-inputtext-sm"
    >
    </p-dropdown>
  </div>

  <p-dataView
    #dv
    [value]="filteredProducts"
    [paginator]="true"
    [rows]="9"
    filterBy="name,category,price"
    layout="grid"
  >
    <ng-template pTemplate="grid" let-products>
      <div class="grid">
        @for (product of products; track product.id) {
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 p-2">
          <p-card
            [header]="product.name"
            [subheader]="product.category"
            styleClass="h-full"
          >
            <p class="text-sm text-600 mb-2">{{ product.description }}</p>
            <div class="flex justify-content-between align-items-center mb-2">
              <span class="text-2xl font-semibold">{{
                product.price | currency : "EUR"
              }}</span>
              <p-tag
                [value]="getStockStatusText(product)"
                [severity]="getSeverity(product)"
              ></p-tag>
            </div>
            <div class="flex flex-column align-items-start mb-2">
              <div class="flex align-items-center">
                <p-inputNumber 
                  [(ngModel)]="quantities[product.id]" 
                  [showButtons]="true" 
                  inputId="stacked" 
                  />
                <!-- <p-inputNumber
                  id="quantity-{{ product.id }}"
                  [(ngModel)]="quantities[product.id]"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  decrementButtonClass="surface-600"
                  incrementButtonClass="surface-600"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  [min]="1"
                  [max]="product.quantity"
                  [style]="{ width: '75px' }"
                ></p-inputNumber> -->
              </div>
              <span class="ml-2">Disponible : {{ product.quantity }}</span>
            </div>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-between">
                <div>
                  <p-button
                    (click)="onUpdate(product)"
                    icon="pi pi-pencil"
                    styleClass="p-button-sm p-button-rounded p-button-secondary mr-2"
                  ></p-button>
                  <p-button
                    (click)="onDelete(product)"
                    icon="pi pi-trash"
                    styleClass="p-button-sm p-button-rounded p-button-danger mr-2"
                  ></p-button>
                </div>
                <p-button
                  (click)="addToCart(product)"
                  icon="pi pi-shopping-cart"
                  styleClass="p-button-sm p-button-rounded"
                ></p-button>
              </div>
            </ng-template>
          </p-card>
        </div>
        }
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '450px' }"
  [header]="isCreation ? 'Créer un produit' : 'Modifier un produit'"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <app-product-form
      [product]="editedProduct"
      (save)="onSave($event)"
      (cancel)="onCancel()"
    ></app-product-form>
  </ng-template>
</p-dialog>
